body {
	background-image: url(../images/backGNRL.png);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana; 
	font-size: 12px; 
	background-color: #959A8F; 
	color: #63665F;
}

.negro {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

.link01:hover {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #FF6600;
	text-decoration: underline;
}
.mmsbusqueda {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
.link01 {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #FF6600;
	text-decoration: none;
}
.link02 {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FF6600;
	text-decoration: underline;
}
.link02:hover {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
.link03 {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
}
.link03:hover {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: underline;
}
.link04 {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link04:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.gris {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #5A5A5A;
	text-decoration: none;
}
.celeste {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #0A5A94;
	text-decoration: none;
}.grisN {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.Naranja {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #FF3300;
	text-decoration: none;
}
.titulo {
	font-family: "Century Gothic";
	font-size: 18px;
	color: #FF6600;
	text-decoration: none;
}.tituloNOT {
	font-family: "Century Gothic";
	font-size: 16px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.tituloNOT:hover {
	font-family: "Century Gothic";
	font-size: 16px;
	color: #FF6600;
	text-decoration: none;
	font-weight: bold;
}

.MenuSeleted {
	font-family: "Century Gothic";
	font-size: 16px;
	color: #FF6600;
	text-decoration: none;
	font-weight: bold;
}

.TituloInicio {
	font-family: "Century Gothic";
	font-size: 16px;
	color: #6B0F0E;
	text-decoration: none;
	font-weight: bold;
}

.Flechas {
	font-family: "Century Gothic";
	font-size: 8px;
	color: #FF9933;
	text-decoration: none;
	font-weight: bold;
}
.SubTitulo {
	font-family: "Century Gothic";
	font-size: 13px;
	color: #FF6600;
	text-decoration: none;
}
.blank {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.datos {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
.textopeque {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.textopeque1  {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.textopeque1:hover  {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #FF6600;
	text-decoration: none;
	font-weight: normal;
}
.textopequeTITULO {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.textorojo {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
.textoAzul {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #003366;
	text-decoration: none;
}
.textoAzul:hover {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #003366;
	text-decoration: none;
}
.textoLink {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #5A5A5A;
	text-decoration: none;
}
.textoLink:hover {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #690312;
	text-decoration: none;
	font-weight: bold;
}


.textoButon {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	cursor: hand;
	border-bottom: #999999 1px solid;
	border-left-color: #ECECEC;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
}

.gris {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	cursor: hand;
	border-bottom: #999999 1px solid;
	border-left-color: #ECECEC;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
}

.textoCuerpo {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333333;
	cursor: hand;
	border-bottom: #999999 1px solid;
	border-left-color: #ECECEC;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
}
.fechaYhora {
	font-family: "Century Gothic";
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	cursor: hand;
	border: 1px solid #FFFFFF;
}
.tituloSERV {
	font-family: "Century Gothic";
	font-size: 30px;
	color: #333333;
	text-decoration: none;
}
.textope {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.tituloMAP {
	font-family: "Century Gothic";
	font-size: 25px;
	color: #0066CC;
	text-decoration: none;
}
.Imag {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.Imag:hover {
	border: medium solid #FF9900;
}
.FRM {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #333333;
	font-weight: normal;
	border: thin solid #999999;
}
.FRMtext {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #666666;
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.textoBlanco {
	font-family: "Century Gothic";
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.textoLink {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}

.textoLink:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}

.textoLinkDos {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.textoLinkDos:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
/*Estilo del paginador del la grilla*/
.link-Paginar{
	font-family:"Century Gothic";
	font-size:12px;
	color: #5A5A5A;
	text-decoration:underline;
}

.link-Paginar:hover{
	font-family:"Century Gothic";
	font-size:12px;
	color: #FF6600;
	text-decoration: none;
}

.link-Paginar-Label{
    font-family:"Century Gothic";
	font-size:12px;
	color: #333333;
	text-decoration:none;
}


/*Este es para la imagen del calendario*/
.ui-datepicker-trigger{
	border: none;
	vertical-align:middle;
}

.linkSession:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #FF6600;
	text-decoration: underline;
}
.linkSession {
	font-family: "Century Gothic";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.Linkkenies{
	font-family: "Century Gothic";
	font-size: 11px;
	color: #909090;
	text-decoration: none;
}
.Linkkenies:hover{
	font-family: "Century Gothic";
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}


/*********************************DataGrid*********************************/
.grid-Tabla{
	width:100%;
	border:0px;
	background:#E7E7E7;
}
	
.grid-Tabla th{	
	font-family: "Century Gothic";
	font-size: 11px;	
	text-decoration: none;
	color: #666666;
	background-color:#F7F8F9;
	text-align:left;
	padding-left:3px;
	/*font-weight:bold;*/
	height:28px;
}

.grid-Tabla th a{
	color: #333333;
	text-decoration:underline;
}

.grid-Tabla th a:hover{
	color: #FF6600;
	text-decoration:none;
}

.grid-Tabla .Registros{	
	text-align:left;
	background-color: #FFFFFF;
}

.grid-Tabla .Registros td{	
	font-family: "Century Gothic";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding-left:3px;
	height:31px;
}

.grid-Tabla .Registros, input{	
	font-family: "Century Gothic";
}

.grid-Tabla .Registros, span{	
	font-family: "Century Gothic";
}

/*.grid-Link-Acion{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#df0000;
	text-decoration:underline;
}
.grid-Link-Acion:hover{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#df0000;
	text-decoration:none;	
}*/

.grid-Tabla-Nothing{
	width:100%;
	border:0;
	background-color:#FFFFFF;
	text-align:center;	
	font-size: 11px;
	font-weight:normal;
	font-family: "Century Gothic";
	text-decoration:none;
	font-size: 12px;	
}

.grid-Tabla .Paginado{
	width:100%;
	border:0;	
	background-color:#F7F8FB;
		
}

.grid-Tabla .Paginado td{	
	font-size: 10px;
	font-weight:normal;
	font-family: "Century Gothic";
	background-color: #F9F9F9;
	text-decoration:none;
}

.grid-Tabla .Paginado td a{	
	color: #3F3F3F;
	text-decoration:underline;
}

.grid-Tabla .Paginado td a:hover{
	color: #FF6600;
	text-decoration:none;
}

.grid-Tabla .Paginado td input{	
	font-size: 10px;
	color: #3F3F3F;
	text-decoration:none;
}